@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Box SDK</h1>
    <p class="lead">
        Configure your Box and AD settings in the web.config then you're ready to try the demo app
    </p>
    <p>
        <a href="@Url.Action("Index", "App")" class="btn btn-primary btn-lg">Demo App &raquo;</a>
    </p>
</div>